<div class="bg-login">
  <div class="col-md-3 mx-auto">
    <div class="card shadow-sm">
      <div class="card-body p-5">
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <div *ngIf="loginError" class="alert alert-danger flex-grow-1 me-3" role="alert">
            {{ loginError }}
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" formControlName="username"
                   placeholder="Enter your username" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password"
                   placeholder="Enter your password" required>
          </div>

          <div class="d-flex justify-content-between align-items-center mb-3">
            <a href="#" class="small text-decoration-none">Forgot Password?</a>
          </div>
          <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">Login</button>
        </form>
        <hr class="my-4">

        <div class="oauth2-options">
          <p class="text-center mb-3">Or continue with</p>
          <div class="d-grid gap-2">
            <button (click)="loginWithGoogle()" type="button" class="btn btn-outline-danger">
              <i class="fab fa-google me-2"></i>Continue with Google
            </button>
            <button (click)="loginWithGithub()" type="button" class="btn btn-outline-dark">
              <i class="fab fa-github me-2"></i>Continue with GitHub
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
