<button type="button" class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#confirmationModal">Open Confirmation Modal</button>

<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Підтвердження</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Ви впевнені, що хочете виконати цю дію?</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Скасувати</button>
        <button type="button" class="btn btn-primary">Підтвердити</button>
      </div>
    </div>
  </div>
</div>
