.card-header h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

.img-thumbnail {
  max-width: 150px;
}

.btn-link {
  padding: 0;
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: underline;
}
